<!-- views/events-new.handlebars -->

<form method="POST" action="/events">
  <fieldset>
    <legend>New Event</legend>
    <!-- TITLE -->

  <form action="/events" method="post">
    {{> events-form }}
    <div class="text-right">
      <button type="submit" class="btn btn-primary" name="button">Save</button>
    </div>
  </form>


  <!-- BUTTON -->
  <p>
    <button type="submit">Save Event</button>
  </p>

</form>